/*
0 - 600 = phone
600-900 = tablet portrait
900 - 1200 = tablet landscape
1200 - 1800 = desktop // with the normal styles
more than 1800 =  Big Desktop
*/
/*
- phone
- ipad
- ipad-pro
- big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .1rem;
  word-spacing: .2rem;
  color: #333;
  line-height: 2; }

@keyframes moveInDown {
  0% {
    transform: translateY(-10rem);
    opacity: 0; }
  100% {
    transform: translateY(0rem);
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  60% {
    transform: translateX(2rem);
    opacity: 1; }
  100% {
    transform: translateX(0rem);
    opacity: 1; } }

.btn__white--sm:link, .btn__white--sm:visited {
  text-decoration: none;
  padding: 0 1rem;
  border-radius: 3rem;
  font-weight: 700;
  display: inline-block;
  background: #fff;
  color: #8a8a8a; }

.btn__white--sm:hover {
  background: linear-gradient(to right bottom, rgba(140, 67, 255, 0.9), rgba(138, 138, 138, 0.9)), url("../images/header-image1.png") no-repeat 50%/cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff; }

.btn__blue--sm:link, .btn__blue--sm:visited {
  text-decoration: none;
  padding: 0 1rem;
  border-radius: 3rem;
  font-weight: 700;
  display: inline-block;
  border-left: 2px solid #8461bd;
  border-radius: inherit; }

.btn__blue--sm:hover {
  background: transparent;
  border-bottom: 2px solid #8461bd;
  color: #8461bd;
  border-radius: inherit;
  transition: all .2s ease; }

.cards {
  perspective: 120rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  margin: 1rem; }
  .cards__side {
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(138, 138, 138, 0.4); }
    .cards__side--front {
      background: #fff;
      color: #8c43ff; }
    .cards__side--back {
      background-image: linear-gradient(to right bottom, #7ed567, #28b485);
      transform: rotateY(-180deg); }
  .cards:hover .cards__side--front {
    transform: rotateY(180deg); }
  .cards:hover .cards__side--back {
    transform: rotateY(0); }

.flex {
  display: flex;
  justify-content: space-between; }

.ul {
  list-style: none; }
  .ul__li {
    text-decoration: none;
    float: right; }
  .ul__li-a {
    color: #fff;
    padding: 0 1rem;
    text-decoration: none; }

.header {
  background: linear-gradient(to right bottom, rgba(140, 67, 255, 0.9), rgba(138, 138, 138, 0.9)), url("../images/header-background.jpg") no-repeat 50%/cover;
  background-attachment: fixed;
  background-position: left;
  height: 95vh;
  position: relative;
  color: #fff;
  animation: moveInDown .5s ease-out;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 85vh, 0 100%);
  clip-path: polygon(0% 0%, 100% 0, 100% 85vh, 0 100%); }
  .header__logo {
    animation: moveInRight 1.5s ease-out;
    color: #fff;
    font-size: 2rem;
    padding: 3rem; }
  .header__image {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 20vh;
    transform: translateX(-50%); }
    .header__image--number1 {
      left: 0%;
      top: -3rem;
      width: 50%;
      padding: 1rem;
      position: absolute;
      box-shadow: 0 1.5rem 4rem rgba(245, 245, 245, 0.4);
      transition: all .2s;
      outline-offset: 2rem; }
      .header__image--number1:hover {
        outline: 1.5rem solid #8461bd;
        transform: scale(1.6);
        z-index: 20; }
    .header__image--number2 {
      left: 15.5%;
      top: 4rem;
      width: 64%;
      padding: 1rem;
      position: absolute;
      box-shadow: 0 1.5rem 4rem rgba(245, 245, 245, 0.4);
      transition: all .2s;
      outline-offset: 2rem; }
      .header__image--number2:hover {
        outline: 1.5rem solid #8461bd;
        transform: scale(1.6);
        z-index: 20; }
  .header__heading {
    position: absolute;
    top: 75vh;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header__heading__primary {
      display: block;
      line-height: 1.3; }
    .header__heading__sub {
      display: block; }
    .header__heading__btn {
      display: inline-block; }

@media (max-width: 56.25em) {
  .header__image--number1 {
    width: 52%; }
  .header__image--number2 {
    width: 72%; } }

@media (max-width: 64em) {
  .header {
    height: 75vh;
    clip-path: polygon(0% 0%, 100% 0, 100% 65vh, 0 100%); }
    .header__image--number1 {
      width: 75%; }
    .header__image--number2 {
      width: 112%; }
    .header__heading {
      top: 59vh; } }

@media (max-width: 48em) {
  .header__image--number1 {
    width: 74%; }
  .header__image--number2 {
    width: 100%; }
  .header__heading {
    top: 57vh; } }

@media (max-width: 37.5em) {
  .header__image--number1 {
    width: 86%;
    left: -5rem;
    top: -1rem; }
  .header__image--number2 {
    width: 112%; } }

.composition {
  position: relative; }
  .composition__image {
    width: 50%;
    position: absolute;
    box-shadow: 0 1.5rem 4rem rgba(138, 138, 138, 0.4);
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__image:hover {
      outline: 1.5rem solid #8461bd;
      transform: scale(1.05);
      z-index: 20; }
    .composition__image--number1 {
      left: 0%;
      top: 0%; }
    .composition__image--number2 {
      right: 0%;
      top: 3rem; }
    .composition__image--number3 {
      left: 20%;
      top: 8rem; }
    .composition__image--number4 {
      left: 25%;
      top: 14rem; }

.section-padding {
  padding: 12rem 2rem 12rem 2rem; }

.margin-top-sm {
  margin-top: 2rem; }

.margin-bottom-sm {
  margin-bottom: 2rem; }

.margin-bottom-m {
  margin-bottom: 4rem; }

.margin-bottom-lg {
  margin-bottom: 8rem; }

.paragraph:not(:last-child) {
  margin-bottom: 3rem; }

.footer {
  animation: moveUp 1s ease-out; }

.heading__onWhite--main {
  font-size: 4rem;
  text-transform: uppercase;
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to left, rgba(140, 67, 255, 0.8), rgba(132, 97, 189, 0.8)); }

.heading__onWhite--sub {
  display: block; }

.heading__onBlue--main {
  font-size: 4rem;
  text-transform: uppercase;
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(245, 245, 245, 0.8)); }

.text-center {
  text-align: center; }

.text-cursive {
  font-family: 'Satisfy', cursive; }

.text-cinzel {
  font-family: 'Cinzel', serif;
  font-weight: 700; }

.opacity {
  opacity: .7; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="grid-"] {
    float: left; }
    .row [class^="grid-"]:not(:last-child) {
      margin-right: 4rem; }
  .row .grid-3 {
    width: calc((100% - 3 * 4rem) /4); }
  .row .grid-4 {
    width: calc((100% - 2 * 4rem) /3); }
  .row .grid-6 {
    width: calc((100% - 4rem) /2); }
  .row .grid-8 {
    width: calc( 2 * ((100% - 2 * 4rem) /3) + 4rem); }
  .row .grid-12 {
    width: 100%; }

@media (max-width: 48em) {
  .row [class^="grid-"] {
    width: 100% !important; }
    .row [class^="grid-"]:not(:last-child) {
      margin-right: 0; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  width: 5.5rem;
  height: 5.5rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  background-color: #fff;
  border-radius: 50%;
  z-index: 200;
  box-shadow: 0 1rem 3rem rgba(132, 97, 189, 0.2);
  text-align: center; }

.navigation__background {
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 100;
  background-image: linear-gradient(to left, rgba(140, 67, 255, 0.9), rgba(132, 97, 189, 0.9));
  transition: transform 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  opacity: 0;
  width: 0%;
  transition: opacity 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  list-style: none;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  font-weight: 700;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: #8461bd;
  text-decoration: none;
  background-image: linear-gradient(120deg, #fff 0%, #fff 50%, #8461bd 50%);
  background-size: 250%;
  transition: all .4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #fff;
  transform: translateX(40%); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(35); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }

.navigation__icon {
  position: relative;
  margin-top: 2.7rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    display: inline-block;
    background-color: #8461bd; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: .3s ease; }
  .navigation__icon::before {
    top: -1rem; }
  .navigation__icon::after {
    top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  transform: rotate(45deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(-90deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  background-color: transparent; }

.wrapper {
  padding: 1rem; }

.about {
  margin-top: -10vh; }
  .about__composition {
    height: 30rem; }

.experience {
  transform: skewY(-2deg);
  margin-top: -3rem;
  background: linear-gradient(to right bottom, rgba(140, 67, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/header-image1.png") no-repeat 50%/cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff; }
  .experience > * {
    transform: skewY(2deg); }

.projects {
  text-align: center;
  transform: skewY(-2deg); }
  .projects > * {
    transform: skewY(2deg); }

.projects-wrap {
  display: inline-flex;
  flex-wrap: wrap; }
  .projects-wrap__fig {
    position: relative;
    max-width: 35rem;
    margin: 0 auto; }
    .projects-wrap__fig img {
      width: 100%;
      border-radius: .5rem;
      transition: all .8s;
      transform: scale(0.9);
      box-shadow: 0 1.5rem 4rem rgba(138, 138, 138, 0.6); }
  .projects-wrap__caption {
    position: absolute;
    top: 36%;
    left: 50%;
    opacity: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .8s;
    backface-visibility: hidden;
    transition: all .8s; }
  .projects-wrap:hover .projects-wrap__caption {
    opacity: 1;
    transform: translate(-50%, 20%); }
  .projects-wrap:hover img {
    transform: scale(1.1);
    text-align: center;
    z-index: 100;
    transform: scale(1.1);
    filter: blur(1px) brightness(80%); }

.footer {
  background: #8a8a8a; }

@media (max-width: 37.5em) {
  .about__composition {
    height: 23rem; } }

@media (max-width: 64em) {
  .about .grid-6 {
    width: 100%; } }
