*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: .1rem;
  word-spacing: .2rem;
  color: yellow; }

@keyframes moveInDown {
  0% {
    transform: translateY(-10rem);
    opacity: 0; }
  100% {
    transform: translateY(0rem);
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  60% {
    transform: translateX(2rem);
    opacity: 1; }
  100% {
    transform: translateX(0rem);
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    transform: translateX(10rem);
    opacity: 0; }
  60% {
    transform: translateX(-2rem);
    opacity: 1; }
  100% {
    transform: translateX(0rem);
    opacity: 1; } }

@keyframes moveUp {
  0% {
    transform: translateY(10rem);
    opacity: 0; }
  100% {
    transform: translateY(0rem);
    opacity: 1; } }

.paragraph:not(:last-child) {
  margin-bottom: 3rem; }

.btn-white__sm:link, .btn-white__sm:visited {
  background: #fff;
  text-decoration: none;
  padding: .3rem 1rem .5rem;
  border-radius: 3rem;
  color: #007e88; }

.btn-white__sm:hover {
  cursor: pointer;
  background: #24e8a7 url("../images/background.jpg") no-repeat 50%/cover;
  color: #fff; }

.flex {
  display: flex;
  justify-content: space-between; }

.ul {
  list-style: none; }
  .ul__li {
    text-decoration: none;
    float: right; }
  .ul__li-a {
    color: #fff;
    padding: 0 1rem;
    text-decoration: none; }

.headingOnGreen {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .headingOnGreen__primary {
    display: block; }
  .headingOnGreen__sub {
    display: block; }
  .headingOnGreen__btn {
    display: block; }

.headingOnWhite__primary {
  font-size: 4rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, rgba(36, 232, 167, 0.8), rgba(0, 126, 136, 0.8));
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent; }

.headingOnWhite__sub {
  display: block; }

.text-center {
  text-align: center; }

.text-cursive {
  font-family: 'Satisfy', cursive; }

.text-cinzel {
  font-family: 'Cinzel', serif;
  font-weight: 700; }

.section-padding {
  padding: 15rem 2rem 2rem 2rem; }

.margin-top-sm {
  margin-top: 2rem; }

.margin-bottom-sm {
  margin-bottom: 2rem; }

.margin-bottom-m {
  margin-bottom: 4rem; }

.margin-bottom-lg {
  margin-bottom: 8rem; }

.header {
  background: #24e8a7 url("../images/background.jpg") no-repeat 50%/cover;
  height: 95vh;
  background-position: top;
  position: relative;
  color: #fff;
  padding: 2rem;
  animation: moveInDown .5s ease-out;
  clip-path: polygon(0% 0%, 100% 0, 100% 75vh, 0 100%); }
  .header__logo {
    animation: moveInRight 1.5s ease-out;
    color: #fff;
    font-size: 2rem; }
  .header__ul {
    animation: moveInLeft 1.5s ease-out; }

.image {
  position: relative;
  width: 40%;
  left: 50%;
  transform: translateX(-50%); }
  .image__number1 {
    left: 12.5%;
    position: absolute;
    filter: opacity(0.1) drop-shadow(0 0 0 #24e8a7);
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    transition: all .2s;
    outline-offset: 2rem; }
    .image__number1:hover {
      outline: 1.5rem solid #007e88;
      transform: scale(1.05); }
  .image__number2 {
    right: 12.5%;
    position: absolute;
    filter: opacity(0.1) drop-shadow(0 0 0 #24e8a7);
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    transition: all .2s;
    outline-offset: 2rem; }
    .image__number2:hover {
      outline: 1.5rem solid #007e88;
      transform: scale(1.05); }
  .image__number3 {
    left: 0%;
    top: 10rem;
    position: absolute;
    filter: opacity(0.1) drop-shadow(0 0 0 #24e8a7);
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    transition: all .2s;
    outline-offset: 2rem; }
    .image__number3:hover {
      outline: 1.5rem solid #007e88;
      transform: scale(1.05); }
  .image__number4 {
    left: 50%;
    transform: translateX(-50%);
    top: 10rem;
    position: absolute;
    filter: opacity(0.1) drop-shadow(0 0 0 #24e8a7);
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    transition: all .2s;
    outline-offset: 2rem; }
    .image__number4:hover {
      outline: 1.5rem solid #007e88;
      transform: scale(1.05); }
  .image__number5 {
    right: 0%;
    top: 10rem;
    position: absolute;
    filter: opacity(0.1) drop-shadow(0 0 0 #24e8a7);
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    transition: all .2s;
    outline-offset: 2rem; }
    .image__number5:hover {
      outline: 1.5rem solid #007e88;
      transform: scale(1.05); }

@media (max-width: 768px) {
  .image {
    width: 100%; } }

.footer {
  animation: moveUp 1s ease-out; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="grid-"] {
    float: left; }
    .row [class^="grid-"]:not(:last-child) {
      margin-right: 4rem; }
  .row .grid-3 {
    width: calc((100% - 3 * 4rem) /4); }
  .row .grid-4 {
    width: calc((100% - 2 * 4rem) /3); }
  .row .grid-6 {
    width: calc((100% - 4rem) /2); }
  .row .grid-8 {
    width: calc( 2 * ((100% - 2 * 4rem) /3) + 4rem); }

@media (max-width: 768px) {
  .row .grid-3 {
    width: 100%; }
  .row .grid-4 {
    width: 100%; }
  .row .grid-6 {
    width: 100%; }
  .row .grid-8 {
    width: 100%;
    margin-top: 3rem; } }

.wrapper {
  padding: 1rem; }

.about {
  margin-top: -20vh;
  background: #f5f5f5; }
