.btn{
    z-index: 200;
    
    // BUTTON-WHITE-COLOR
    &__green{

	&--sm{
	&:link,
	&:visited{
	@include btn-sm;
	border: 2px solid $color-secondary;
    background: transparent;
	color: $color-white;
	transition: all .4s ease;
	}
    &:hover{
    color: $color-white;
    background: $color-secondary;
    }
	}
	}
	@mixin btn-rec{
	border-radius: inherit;
	transition: all .2s ease;
	&:hover{
    background: transparent;
	border-radius: inherit;
	}
	}
	// BUTTON-WHITE-COLOR
	&__white{
	&--sm{
	&:link,
	&:visited{
	@include btn-sm;
	@include btn-rec;
	color: $color-white;
	border-left: 2px solid $color-white;
	}
	&:hover{
	color: $color-white;
	border-bottom: 2px solid $color-white;
	}
	}
	}
	// BUTTON-DARK-COLOR
	&__dark{
	&--sm{
	&:link,
	&:visited{
	@include btn-sm;
	@include btn-rec;
	color: $color-main;
	border-left: 2px solid $color-main;
	}
	&:hover{
	border-bottom: 2px solid $color-main;
	color: $color-dark;
	}
	}
	}
}


#mc_embed_signup{
	display: block;
}
#mc-embedded-subscribe{
	background: transparent;
	border: none;
	font-size: 2rem;
	border-left: 2px solid $color-main;
	padding: 1rem 2rem;
	cursor: pointer;
	transition: all .4s ease;
	&:hover{
	border-bottom: 2px solid $color-main;
	}

}
.mc-embed-div{
	text-align: center;
}
