.cards{
	perspective: 120rem;
   -moz-perspective: 150rem;
	position: relative;
	height: 50rem;
    margin: 1rem;
    
    &__side{
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);

    &--front{
    background: $color-white;
    }

    &--back{
    background-image: linear-gradient(to right bottom, 
	rgba($card-color-main, 1), 
	rgba($card-color-secondary, 1));
    transform: rotateY(180deg);
    }
    }
	
	&:hover &__side--front{
    transform: rotateY(-180deg);
    }

    &:hover &__side--back{
    transform: rotateY(0);
    }
}