// CONTENT IMAGE STYLE-1
.composition{
    position: relative;

	&__image{
	width: 60%;
    position: absolute;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    transition: all .2s;
    outline-offset: 2rem;

    &:hover{
    outline: 1.5rem solid $color-dark;
    transform: scale(1.05);
    z-index: 20;
    }
	&--number1{
    left: 0%;
    top: 0%;
	}
	&--number2{
	right: 0%;
	top: 3rem;
	}
	&--number3{
	left: 20%;
	top: 8rem;
	}
	&--number4{
	left: 25%;
	top: 14rem;
	}
	}
}