.wrapper{
	padding: 1rem;
}

.logo-link{
	&:link,
	&:visited{
	text-decoration: none;
	color: $color-secondary;
	}
}

.intro{
    background: $color-grey;
	margin-top: -10vh;
	padding-top: 14rem;
	transform: skewY(-2deg);
	position: relative;
	& > * {
    transform: skewY(2deg);
	}
	&__composition{
	height: 30rem;
	}
	&__section-1{
	border-right: 1px solid $color-main;
	padding-right: 2rem;
	}
	&__section-2{
	padding-right: 2rem;
	}
	
}
.about{
	transform: skewY(-2deg);
	background: #000000;
    color: $color-white;
    margin-top: -1rem;
	& > * {
	transform: skewY(2deg);
	}
	&__composition{
	height: 30rem;
	}
}
.experience{
    @include bgDarkImg;
	transform: skewY(-2deg);
	positive: relative;
	margin-top: -1rem;
	color: $color-white;

	&__icons{
	font-size: 3rem;
    justify-content: center;
    display: flex;
    padding: 2rem;
    color: $color-dark;
    font-weight: 100;
    border-bottom: 1px solid $color-secondary;
	}

	&__content-box{
	text-align: center;
	color: $color-main;
	font-weight: 500;
	}

	&__content-box-back{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: $color-white;
	padding: 3rem;
	letter-spacing: 3px;
	text-align: center;
	}

    & > * {
    transform: skewY(2deg);
    }
}

.projects{
    background: $color-grey;
    text-align: center;
	transform: skewY(-2deg);
	margin-top: -1rem;
	& > * {
	transform: skewY(2deg);
	}
}

.projects-wrap{
    
    display: inline-flex;
	flex-wrap: wrap;
    
    &__fig{
    position: relative;
    max-width: 35rem;
    margin: 0 auto;

    
    img{
    width: 100%;
    height: 20rem;
    border-radius: .5rem;
    transition: all .8s;
    transform: scale(.9);
    box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5);

    }

    }

    &__caption{
    position: absolute;
    top: 27%;
    left: 50%;
    opacity: 0;
    color: $color-main;
    font-size: 1.4rem;
    transition: all .8s;
    backface-visibility: hidden;
    transition: all .8s ease;
    text-align: center;
    z-index: 5000;
    }

    &:hover &__caption{
    opacity: 1;
    transform: translate(-50%, 20%);
    width: 100%;
    }

    &:hover img{
    transform: scale(1.1);
    text-align: center;
    z-index: 100;
    filter: blur(2px) grayscale(100%);
    }
	
}

.contact{
	@include bgDarkImg;
    transform: skewY(-2deg);
    color: $color-main;
    & > * {
    transform: skewY(2deg);
    }
}


@include device(phone){
	.about {
    &__composition{
    height: 23rem;
    }
    }
}

@include device(ipad){
	.intro{
	&__section-1{
	padding-right: initial;
	border-right: none;
	}
	}
}

@include device(ipad-pro){
	.about {
    .grid-6{
    width: 100%;
    }
    }
}
