.wrapper{
	padding: 1rem;
}
.about{
	margin-top: -10vh;
	&__composition{
	height: 30rem;
	}
}
.experience{
	transform: skewY(-2deg);
	margin-top: -3rem;
	background: linear-gradient(
    to right bottom, 
    rgba($color-secondary, 0.9), 
    rgba($color-dark, 0.9)),
	url("../images/header-image1.png") no-repeat 50%/cover;
	background-attachment: fixed;
    background-position: center;
    color: $color-white;

    & > * {
    transform: skewY(2deg);
    }
}

.projects{
    text-align: center;
	transform: skewY(-2deg);
	& > * {
	transform: skewY(2deg);
	}
}

.projects-wrap{

    display: inline-flex;
	flex-wrap: wrap;
    
    &__fig{
    position: relative;
    max-width: 35rem;
    margin: 0 auto;

    
    img{
    width: 100%;
    border-radius: .5rem;
    transition: all .8s;
    transform: scale(.9);
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.6);

    }

    }

    &__caption{
    position: absolute;
    top: 36%;
    left: 50%;
    opacity: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .8s;
    backface-visibility: hidden;
    transition: all .8s;
    }

    &:hover &__caption{
    opacity: 1;
    transform: translate(-50%, 20%);
    }

    &:hover img{
    transform: scale(1.1);
    text-align: center;
    z-index: 100;
    transform: scale(1.1);
    filter: blur(1px) brightness(80%);
    }
	
}

.footer{
	background: $color-black;
}




@include device(phone){
	.about {
    &__composition{
    height: 23rem;
    }
    }
}

@include device(ipad-pro){
	.about {
    .grid-6{
    width: 100%;
    }
    }
}